body{
    background: rgb(243, 228, 228);
    font-family: "Comic Sans MS";
}

.error::placeholder{
    color: red;
}

.espacio1{
    background-color: rgb(233, 44, 44);
    padding: 5%;
    border-radius: 10px;
}

.formulario{
    text-align: center;
}

.entradaTexto{
    border: 3px solid rgb(53, 50, 50);
    border-radius: 10px;
    font-family: "Comic Sans MS";
    width: 75%;
    height: 55px;
    font-size: 20px;
}

.botonAgregar{
    font-family: "Comic Sans MS";
    margin-top: 20px;
    width: 150px;
    height: 70px;
    font-size: 17px;
    background-color: rgb(233, 44, 44);
    border: 2px solid rgb(167, 35, 35);
    border-radius: 9px;
    color: white;
}

.espacio2{
    padding-left: 15%;
    padding-right: 15%;
}

.lista{
    padding: 0px;
}

.elementoLista, li{
    font-size: 20px;
    margin-top: 10px;
    border-bottom: 3px solid gray;
    list-style-type: none;
}

hr{
    width: 100%;
}

.elementoLista:hover, li:hover{
    text-decoration: line-through;
}

.botonAgregar:hover{
    border-color: white;
}

.enlace, a{
    text-decoration: none;
    color: rgb(61, 55, 43);
}